In [1]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv("data/bgg_gamelist_cleaned.csv")
df = df.query('~description.isnull()')
ids = df["id"]
names = df["name"]
embeddings = np.load("data/embeddings.npz")["embeddings"]

In [36]:
embeddings = embeddings / np.sqrt((embeddings**2).sum(1, keepdims=True)) # L2 normalize the rows, as is common, in this case the embeddings we obtained from instructor-xl were already normalized.

In [35]:
np.sqrt((embeddings**2).sum(1, keepdims=True))

array([[1.       ],
       [1.       ],
       [1.       ],
       ...,
       [1.       ],
       [1.0000001],
       [1.       ]], dtype=float32)

In [37]:
embeddings.shape

(24610, 768)

In [38]:
query = embeddings[12] # Use Samurai as an example
#query = embeddings[ids == 6707].squeeze()
query.shape

(768,)

In [39]:
similarities = embeddings.dot(query)
sorted_ix = np.argsort(-similarities)

top_n = []
print("top 10 results:")
for k in sorted_ix[1:21]:
  print(f"row {k}, similarity {similarities[k]}")
  top_n.append(k)

top 10 results:
row 12965, similarity 0.9119023084640503
row 238, similarity 0.9105767011642456
row 3872, similarity 0.9104617834091187
row 4378, similarity 0.9054649472236633
row 11232, similarity 0.9050711393356323
row 15102, similarity 0.9046278595924377
row 24473, similarity 0.904604971408844
row 7347, similarity 0.9006145000457764
row 18820, similarity 0.8993796110153198
row 20314, similarity 0.8980516195297241
row 17991, similarity 0.8970128297805786
row 23034, similarity 0.8964637517929077
row 14698, similarity 0.8959041237831116
row 12195, similarity 0.8956476449966431
row 2146, similarity 0.8944798707962036
row 10456, similarity 0.8909525275230408
row 9090, similarity 0.8900841474533081
row 3314, similarity 0.8898947238922119
row 5635, similarity 0.8897260427474976
row 7786, similarity 0.8894286155700684

In [41]:
list(ids[top_n])

[146158,
 278,
 6778,
 8166,
 107529,
 178958,
 370597,
 24083,
 244330,
 269504,
 230266,
 329588,
 172980,
 131366,
 3076,
 84876,
 40370,
 5406,
 12681,
 27710]

In [40]:
list(names[top_n])

['New Haven',
 'Catan Card Game',
 'The Settlers of Zarahemla',
 'Anno 1503',
 'Kingdom Builder',
 'The Lords of Rock',
 'Fugitive (Second Edition)',
 'Desert Bazaar',
 'Scarabya',
 'Two Robots',
 'Scare It!',
 'Chili Mafia',
 'Double Mission: Beyond the Object',
 'Eight-Minute Empire',
 'Puerto Rico',
 'The Castles of Burgundy',
 'Islas Canarias',
 'New England',
 'Neuland',
 'Catan Dice Game']

### SVM

In [25]:
from sklearn import svm

# create the "Dataset"
x = embeddings
y = np.zeros(x.shape[0])
#x = np.concatenate([query[None,...], embeddings]) # x is (1001, 1536) array, with query now as the first row
#y = np.zeros(1001)
#y[12] = 1 # we have a single positive example, mark it as such
y[ids == 13] = 1

# train our (Exemplar) SVM
# docs: https://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVC.html
clf = svm.LinearSVC(class_weight='balanced', verbose=False, max_iter=10000, tol=1e-6, C=0.1)
clf.fit(x, y) # train

# infer on whatever data you wish, e.g. the original data
similarities = clf.decision_function(x)
sorted_ix = np.argsort(-similarities)
top_n = []
print("top 10 results:")
for k in sorted_ix[:100]:
  print(f"row {k}, similarity {similarities[k]}")
  top_n.append(k)

top 10 results:
row 12, similarity 0.9921468167791094
row 8366, similarity -0.12454733979373334
row 13044, similarity -0.1461113224984164
row 24473, similarity -0.26539029629990896
row 2631, similarity -0.2879438038187119
row 3872, similarity -0.33209068221639226
row 9090, similarity -0.3336816009576016
row 7794, similarity -0.35497497511054843
row 11512, similarity -0.3564880611509442
row 3314, similarity -0.35709652488835575
row 7621, similarity -0.36093129794186907
row 14698, similarity -0.3737815749459906
row 5484, similarity -0.38100333590007396
row 7347, similarity -0.3843897128584447
row 4378, similarity -0.3884725555314986
row 8215, similarity -0.39367582995252925
row 15102, similarity -0.4060399605143724
row 431, similarity -0.4129465274048697
row 8623, similarity -0.41682610715728974
row 17991, similarity -0.4249049463034168
row 238, similarity -0.42708153121136794
row 20314, similarity -0.4321367208203536
row 20801, similarity -0.43922777554315984
row 7404, similarity -0.44063649641522185
row 7786, similarity -0.4416738738950473
row 7406, similarity -0.44240304008751385
row 12965, similarity -0.4440869688826483
row 11746, similarity -0.44468934175528274
row 7798, similarity -0.4493635456263767
row 4889, similarity -0.45205038878908055
row 1187, similarity -0.45354154601182384
row 15294, similarity -0.4538151113990523
row 8248, similarity -0.4576971749929729
row 18820, similarity -0.4629870305143631
row 20765, similarity -0.4682242281483764
row 11232, similarity -0.4743551077794417
row 13934, similarity -0.4859948740147151
row 2146, similarity -0.4892484959178348
row 13858, similarity -0.4953691385046768
row 19904, similarity -0.49730805349148177
row 16119, similarity -0.500843263050897
row 11732, similarity -0.5031030262656326
row 22010, similarity -0.5078928503892383
row 2176, similarity -0.5085039765755079
row 2479, similarity -0.5125999035546602
row 3503, similarity -0.5196556758730962
row 12977, similarity -0.5213454550176635
row 11246, similarity -0.5275065218607234
row 13843, similarity -0.5285128470347851
row 177, similarity -0.5316917738714351
row 705, similarity -0.5327870872305803
row 24520, similarity -0.5335817740712763
row 18792, similarity -0.5350279740877444
row 23034, similarity -0.5375121212321886
row 711, similarity -0.5428720548811162
row 23074, similarity -0.5430923222416262
row 11815, similarity -0.5565920014013691
row 9601, similarity -0.565373591858648
row 18253, similarity -0.565473079525885
row 13833, similarity -0.5656242289943809
row 17756, similarity -0.565858912421687
row 7440, similarity -0.569606999467775
row 11909, similarity -0.571655719099641
row 15676, similarity -0.5763067456805995
row 12049, similarity -0.5780315167641024
row 8929, similarity -0.5798029312894837
row 22274, similarity -0.580760793291911
row 3319, similarity -0.5809314685879052
row 1765, similarity -0.5818198130050356
row 13459, similarity -0.5824558436097635
row 16835, similarity -0.5841191186268175
row 10000, similarity -0.584529034046722
row 4814, similarity -0.5877008357885136
row 9819, similarity -0.5919415798462596
row 10456, similarity -0.5935886383279353
row 23738, similarity -0.5940565204194177
row 9827, similarity -0.5987056688725465
row 3758, similarity -0.5999047927323217
row 19344, similarity -0.6034987703091487
row 23451, similarity -0.614839994628134
row 16300, similarity -0.6156264511163094
row 4374, similarity -0.6179988896717828
row 16800, similarity -0.6180077380174196
row 23277, similarity -0.6195297455586051
row 15973, similarity -0.622168933067687
row 11565, similarity -0.6245867580616841
row 2078, similarity -0.62561286364592
row 7719, similarity -0.6307203598043376
row 12043, similarity -0.6313286562056778
row 23083, similarity -0.6327533503241729
row 14811, similarity -0.6343114047830318
row 19692, similarity -0.634839132568654
row 11929, similarity -0.6373193130693
row 9102, similarity -0.6390155417415413
row 8060, similarity -0.6434879048570255
row 13466, similarity -0.6441918065493093
row 6775, similarity -0.6445332317560011
row 11206, similarity -0.6489853688883126
row 8913, similarity -0.6498527162156557
row 20895, similarity -0.6498772195688796

In [32]:
names[top_n[10:]]

7621                              Claim It!
14698     Double Mission: Beyond the Object
5484           Candamir: The First Settlers
7347                          Desert Bazaar
4378                              Anno 1503
                        ...
13466                     Imperial Settlers
6775                             Terra Nova
11206                                Hawaii
8913     Settlers of Catan: Gallery Edition
20895                      Pappy Winchester
Name: name, Length: 90, dtype: object